.saved__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;

  max-width: 530px;
  margin-bottom: 25px;
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .saved__title {
    font-size: 30px;
    line-height: 34px;
    max-width: 400px;
    margin-bottom: 16px;
    margin-top: 0px;
  }
}