.header__logo {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: auto auto auto 100px;
}


@media screen and (max-width: 850px) {
  .header__logo {
    margin: auto auto auto 40px;
  }
}

@media screen and (max-width: 670px) {
  .header__logo {
    font-size: 16px;
    margin: auto auto auto 16px;
  }
}
