.footer__links {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  margin-left: 45px;
  margin-right: 0px;
}


@media screen and (max-width: 670px) {
  .footer__links {
    order: 2;
    width: 68px;
    margin-bottom: 70px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 670px) {
  .footer__links {
    order: 2;
    width: 68px;
    margin-bottom: 70px;
    margin-right: 20px;
  }
}