{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-restricted-globals": ["error", "event", "fdescribe"], // разрешить scrollY
    "no-console": "off" // разрешаем консоли
  },

  "env": {
    "browser": true,
    "node": true
  }
}