.author__image {
  width: 35%;
  margin-right: 60px;
  border-radius: 1000px;
}


@media screen and (max-width: 1024px) {
  .author__image {
    margin-right: 40px;
  }
}

@media screen and (max-width: 860px) {
  .author__image {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .author__image {
    margin: auto 20px auto 0px;
  }
}

@media screen and (max-width: 560px) {
  .author__image {
    width: 60vw;
    margin: auto auto 30px auto;
  }
}

@media screen and (max-width: 320px) {
  .author__image {
    width: 85vw;
    margin: auto auto 30px auto;
  }
}