.search__block {
  display: inline-block;
  position: relative;
  margin: auto auto 80px auto;
  height: 65px;
  width: 42.5%;
}

@media screen and (max-width:1124px) {
  .search__block {
      width: 60%;
      height: 60px;
  }
}

@media screen and (max-width:780px) {
  .search__block {
      width: 60%;
      height: 55px;
      margin-bottom: 50px;
  }
}

@media screen and (max-width: 670px) {
  .search__block{
    width: 90%;
    height: auto;
    margin-bottom: 30px;
  }
}
