@import './__image/author__image.css';
@import './__text-block/author__text-block.css';
@import './__text/author__text.css';
@import './__title/author__title.css';

.author {
  max-width: 100%;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}


@media screen and (max-width: 1024px) {
  .author {
    padding: 70px 40px 70px 40px;
  }
}

@media screen and (max-width: 768px) {
  .author {
    padding: 60px 40px 60px 40px;
  }
}

