@import './__image/author__image.css';
@import './__text-block/author__text-block.css';
@import './__text/author__text.css';
@import './__title/author__title.css';

.author {
  width: 100%;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

