.result__card {
  border-radius: 20px;
  overflow: hidden;
  background: #FFFFFF;
  position: relative;
  max-height: 576px;
}

@media screen and (max-width: 768px) {
  .result__card {
    max-height: 420px;
  }
}