.search__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;

  margin: 160px auto 35px;
  max-width: 545px;
  text-align: left;
}