.popup__close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
  background-image: url('../../../images/close.svg');
  background-size: contain;
}

@media screen and (max-width: 560px) {
  .popup__close {
    top: 12px;
    right: 12px;
    background-color: gray;
    border-radius: 5px;
  }
}
