.header__button_user {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  color: #FFFFFF;

  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;


  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  padding: 12px;
}

#header-button-user-saved {
  border: 1px solid #D1D2D6;
}

@media screen and (max-width: 560px) {
  .header__button_user {
    margin-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .header__button_user {
    width: 100%;
  }
}