@import './__button/search__button.css';
@import './__field/search__field.css';
@import './__title/search__title.css';
@import './__subtitle/search__subtitle.css';
@import './__block/search__block.css';
@import './__describtion/search__describtion.css';


.search {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  background-image: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
  background-size: cover;
}