@import './__copirate/footer__copirate.css';
@import './__menu/footer__menu.css';
@import './__social/footer__social.css';
@import './__links/footer__links.css';
@import './__button/footer__button.css';

.footer {
  display: flex;
  background: #FFFFFF;
  padding: 25px 105px 25px 105px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 10px 40px 15px 40px;
  }
}

@media screen and (max-width: 670px) {
  .footer {
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px 10px 15px 10px;
  }
}