.popup__content {
  width: 430px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 35px 36px 20px;
}

#popup-content-succes {
  padding: 40px 36px 40px;
}

@media screen and (max-width: 560px) {
  .popup__content {
    border-radius: 16px;
    box-sizing: border-box;
    padding: 16px 16px 20px 16px;
    position: absolute;
    width: 100vw;
    top: 54px;
    height: 94vh;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  }
}
