.card__keyword {
  min-width: 90px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  position: absolute;
  top: 24px;
  left: 24px;

  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: #000000;
}


@media screen and (max-width: 1024px) {
  .card__keyword {
    top: 16px;
    left: 16px;
  }
}

@media screen and (max-width: 768px) {
  .card__keyword {
    top: 8px;
    left: 8px;
  }
}