.result__keyword {
  min-width: 90px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  left: 24px;

  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: #000000;
}


@media screen and (max-width: 768px) {
  .result__keyword {
    top: 0px;
    left: 8px;
  }
}