.footer__menu {
  display: inline-flex;
  align-items: center;
  width: 250px;
  justify-content: space-between;
  margin-left: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: #1A1B22;
}

@media screen and (max-width: 670px) {
  .footer__menu {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px auto 20px 16px;
    width: 50%;
    order: 1;
  }
}