/* section, header, input, div, h1, p, a, img, h2 i {
  border: 1px solid yellowgreen;
} */


.body {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  max-width: 1440px;
  margin: auto;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.error-message {
  color: #FF3333;
  font-size: 0.8em;
  transition: .3s;
  padding: 0px;
  opacity: 0;
}

@import './blocks/header/header.css';
@import './blocks/search/search.css';
@import './blocks/author/author.css';
@import './blocks/footer/footer.css';
@import './blocks/result/result.css';
@import './blocks/loader-block/loader-block.css';
@import './blocks/not-found/not-found.css';
@import './blocks/saved/saved.css';
@import './blocks/popup/popup.css';
@import './blocks/card/card.css';

@font-face {
  font-family: Roboto;
  src: url('./vendor/fonts/roboto-regular.woff');
}

@font-face {
  font-family: Roboto-black;
  src: url('./vendor/fonts/roboto-black.woff');
}

@font-face {
  font-family: Roboto Slab;
  src: url('./vendor/fonts/robotoslab-regular.woff');
}

@font-face {
  font-family: Source Sans Pro;
  src: url('./vendor/fonts/sourcesanspro-regular.woff');
}

@font-face {
  font-family: Inter;
  src: url('./vendor/fonts/inter-regular.woff');
}

