.saved__elect {
  background-image: url('../../../images/icons/delete-icon.png');
}

.saved__elect:hover {
  background-image: url('../../../images/icons/delete-icon-hover.png');
}

.saved__elect:hover::after{
  width: 150px;
}