.result__properties {
  position: absolute;
  top: 24px;
  right: 24px;
}

@media screen and (max-width: 1024px) {
  .result__properties {
    top: 16px;
    right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .result__properties {
    top: 8px;
    right: 8px;
  }
}