@media screen and (max-width: 560px) {
  .header__menu_saved {
    background: white !important;
    box-shadow: 0 0 5px;
  }
  .header__menu::after {
    background-color: rgba(255, 255, 255, .5) !important;
   }
}