.popup__link {
  text-decoration: none;
  color: #2f71e5;
  cursor: pointer;
}

#popup-succes-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2F71E5;
  cursor: pointer;
}